<div ng-click="toggleInfoMenu()" ng-hide="isOpen()">
    <md-button class="md-fab md-primary fixed bottom left" aria-label="Go to info button">
        <i class="fa fa-2x fa-info"></i>
    </md-button>
</div>

<div layout="column" ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 full-height" md-component-id="infoMenu">

            <md-toolbar layout="row">
                <h1 flex="90" class="md-toolbar-tools">Info</h1>
                <md-button flex="10" class="md-toolbar-tools" ng-click="toggleInfoMenu()">
                    <i class="fa fa-times"></i>
                </md-button>
            </md-toolbar>

            <div layout="row" layout-align="center" layout-wrap>
                <div flex="75" class="center">
                    <h1>{{board.title}}</h1>
                    <p>{{board.description}}</p>
                </div>
            </div>

            <div layout="row" layout-align="center end" layout-wrap>
                    <div layout="column">
                        <img src="assets/img/large-logo.png">
                    </div>
                    <div layout="column">
                        <md-button class="md-primary" ng-href="https://github.com/alphafitch/keijiban" target="_blank" aria-label="A link to the GitHub page for Keijiban">
                            <span class="flex-center">
                                <i class="fa fa-github fa-3x"></i>
                            </span>
                        </md-button>
                        <div layout="row" layout-align="center">
                            <i class="fa fa-code-fork"></i>
                            <span>v{{bower.version}}</span>
                        </div>
                    </div>
            </div>

        </md-sidenav>
    </section>
</div>
