<header ng-style="{ 'background-color':currentBoard.bgColour }">
    <div layout="row" layout-align="center">
        <div class="flex" flex-sm="80" flex-gt-sm="60">
            <h1 class="center md-display-3">{{currentBoard.header}}</h1>
            <h3 class="center md-headline">{{currentBoard.description.short}}</h3>
        </div>
    </div>
</header>

<section layout="row" layout-align="center">
    <div class="flex" flex-sm="80" flex-gt-sm="60">
        <span ng-if="modules.description.included">
            <h3 class="md-headline">{{currentBoard.description.long}}</h3>
        </span>
        <span ng-if="modules.topic.included">
            <h2 class="md-display-2">{{modules.topic.header}}</h2>
            <h3 class="md-headline">{{currentBoard.topic.blurb}}</h3>
        </span>
        <span ng-if="modules.event.included">
            <h2 class="md-display-2">{{modules.event.header}}</h2>
            <h3 class="md-headline">This month's club will take place on {{currentBoard.event.date}} and it will run from {{currentBoard.event.startTime}} until {{currentBoard.event.endTime}}.</h3>
        </span>
        <span ng-if="modules.venue.included">
            <h3 class="md-headline">This months venue will be {{currentBoard.venue.location}}. We hope to see you there!</h3>
        </span>
    </div>
</section>

<footer ng-if="modules.contact.included" ng-style="{ 'background-color':currentBoard.bgColour }">
    <div layout="row" layout-align="center">
        <div class="flex" flex-sm="80" flex-gt-sm="60">
            <h1 class="md-display-2">{{modules.contact.header}}</h1>
            <p class="md-headline">
                {{modules.contact.label}} <a href="mailto:{{currentBoard.owner.email}}">{{currentBoard.owner.name}}</a>.
            </p>
            <br>
            <br>
        </div>
    </div>
</footer>

<edit-menu></edit-menu>

<list-button></list-button>