.board-tile {
    position: relative;
    z-index: 1;
    flex-direction: column;
    overflow: hidden;
    min-height: 110px;
    max-width: none !important;
    height: calc(100vh / 3);
    color: #ecf0f1;
    flex-basis: calc(100% / 3) !important;
}
.board-tile:hover {
    cursor: pointer;
}
.board-tile .board-subject {
    transition: all 500ms linear;
    transform: translateY(500px);
}
.board-tile:hover .board-subject {
    transition: all 500ms linear;
    transform: none;
}
