.fade {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    opacity: 1;
    &.ng-enter {
        opacity: 0;
    }
    &.ng-enter-active {
        opacity: 1;
    }
    &.ng-leave {
        opacity: 1;
    }
    &.ng-leave-active {
        opacity: 0;
    }
}
.fade.ng-enter, .fade.ng-leave {
    transition: all 1s ease;
}
