.md-button.fixed {
  position: fixed;
}

.md-button.fixed.top {
  top: 15px;
}

.md-button.fixed.right {
  right: 15px;
}

.md-button.fixed.bottom {
  bottom: 15px;
}

.md-button.fixed.left {
  left: 15px;
}

.md-button i {
  margin: 0 auto;
}

.md-button .fa-2x {
  line-height: 2em;
}
