[md-component-id="editMenu"] {
    md-toolbar button {
        padding-left: 8px;
    }

    form {
        > div {
            padding: 0;

            h3 {
                margin-top: 0;
            }

            md-input-container {
                margin-top: 0;
                width: 100%;
            }
        }
    }
}
