.center {
  text-align: center;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

main {
  height: 100%;
}

md-sidenav {
  bottom: auto;
  max-width: none;
  min-width: 250px;
  width: 50%;
}

md-backdrop {
  position: fixed;
}

.full-height {
  bottom: 0;
}

.full-width {
  width: 100%;
}

.text-right {
  text-align: right;
}
