header, footer {
    color: $light-grey;
    flex: none;
}
footer a {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: $light-grey;
    color: $light-grey;
    text-decoration: none;
}
section {
    flex: 1 0 auto;
}
