header,
footer {
  color: $light-grey;
  flex: none;
}

footer a {
  border-bottom-color: $light-grey;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  color: $light-grey;
  text-decoration: none;
}

section {
  flex: 1 0 auto;
}
