// Variables
$white: #fff;
$black: #000;
$light-grey: #ecf0f1;
$wet-asphalt: #34495e;

// Stylesheets
@import "scss/animations";
@import "scss/board";
@import "scss/buttons";
@import "scss/generic";
@import "scss/info";
@import "scss/notice";
