// Variables
$white: #fff;
$black: #000;
$light-grey: #ecf0f1;
$teal-900: #004D40;

// Stylesheets
@import "scss/animations";
@import "scss/board";
@import "scss/buttons";
@import "scss/generic";
@import "scss/notice";
