.list-button {
    position: fixed;
    bottom: 15px;
    left: 15px;
}
.info-button {
    position: fixed;
    bottom: 15px;
    left: 15px;
}
.setup-button {
    position: fixed;
    right: 15px;
    bottom: 15px;
}
.list-button:hover, .info-button:hover, .setup-button:hover {
    -webkit-transform: scale(1.35);
       -moz-transform: scale(1.35);
        -ms-transform: scale(1.35);
         -o-transform: scale(1.35);
            transform: scale(1.35);
}
