header, footer {
    color: #ecf0f1;
}
footer a {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #ecf0f1;
    color: #ecf0f1;
    text-decoration: none;
}
section {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
